<h1> About </h1>

<h2> What is Sngglr </h2>

<p>
  Sngglr is a Michigan Tech and Finlandia dating website.
  <strong> Not a hookup webite. </strong>
  It's an easy and safe way to meet new people and have fun in the Keweenaw.
</p>

<h2> Why is there a Sngglr </h2>
<p>
  
  Like a lot of college students, I'm not a big partier, and I don't go to bars.
  So I spend most of my time just doing my work and hanging out with friends.
  But it's hard to meet other people like that unless they live in your hall, so I wanted a better solution.
</p>

<h2> How is there a Sngglr </h2>
<p>
  Sngglr was built by the blood, sweat, tears of a few MTU students, and help from a designer from finlandia.
  It's free and will always remain free.
</p>

<h2> Who are the Sngglrs </h2>
<p>
  People like me and you.
</p>

<br />
<br />
<img src="/img/base.png">
<p> Finding a good date can be hard. </p>
<p> But Sngglr is here to help. </p>
<a ui-sref="new.account">Start Snggling</a>
