<div style="height: 78%">
  <div style="margin: 250 auto 250 auto" class="row">
    <div class="col-md-6" style="text-align: center">
      <img src="/img/home.png" style="width: 100%">
    </div>

    <div class="col-md-6" style="text-align: center">
      <div style="padding: 50px">
        <p style="font-size: 36px"> Finding a good date can be hard. </p>
        <p style="font-size: 36px"> But Sngglr is here to help. </p>
        <a class="btn btn-primary btn-lg btn-block" ui-sref="new.account">Start Snggling</a>
        <a ui-sref="about">More Info</a>
      </div>
    </div>
  </div>
</div>
<!-- <div style="width: 100%; text-align: center">
  <span style="font-size: 48px" class="glyphicon glyphicon-chevron-down"></span>
</div> -->

<h2 id="new"> What's New </h2>

<div class="row">
  <div class="col-md-3" style="text-align: center">
    <h3> Notifications </h3>
    <img style="width: 100%" src="/img/phone.png">
    <br >
    <p> Email and SMS text messages can optionally be sent to you when you match or recieve a chat message. </p>
  </div>

  <div class="col-md-3" style="text-align: center">
    <h3> Maybe Matches </h3>
    <img style="width: 100%" src="/img/confused.png">
    <br />
    <p> Not sure if you're into the person? You can say "maybe" instead of yes or no. You'll still match if they say yes, but it'll come up as a maybe. </p>
  </div>

  <div class="col-md-3" style="text-align: center">
    <h3> Speed </h3>
    <img style="width: 100%" src="/img/speedy.png">
    <p> The website was completely rewritten, and should be a lot faster. </p>
  </div>

  <div class="col-md-3" style="text-align: center">
    <h3> Report </h3>
    <img style="width: 100%" src="/img/inspect.png">
    <p> If a user is being weird/creepy, you can now report them, and an admin will investigate. </p>
  </div>
</div>

<p> Want something Sngglr doesn't have? Let me know! <a href="/#/contact"> Contact Page </a> </p
