<h1> Sngglr </h1>
<p> Why have sex when you can cuddle? </p>

<br />
<br />

<div class="row">
  <div class="col-md-6" style="text-align: center">
    <img src="/img/sngglr.png">
  </div>

  <div class="col-md-6" style="text-align: center">
    <div style="padding: 50px">
      <p style="font-size: 36px"> Finding a good date can be hard. </p>
      <p style="font-size: 36px"> But Sngglr is here to help. </p>
      <a class="btn btn-primary btn-lg btn-block" ui-sref="new.account">Start Snggling</a>
      <a ui-sref="about">More Info</a>
    </div>
  </div>
</div>

<hr />

<h2> What's New </h2>

<h4> Notifications </h4>
<p> Email and SMS text messages can optionally be sent to you when you match or recieve a chat message. </p>

<h4> Maybe Matches </h4>
<p> Not sure if you're into the person? You can say "maybe" instead of yes or no. You'll still match if they say yes, but it'll come up as a maybe. </p>

<h4> Speed </h4>
<p> The website was completely rewritten, and should be a lot faster. </p>

<h4> Report </h4>
<p> If a user is being weird/creepy, you can now report them, and an admin will investigate. </p>

<p> Want something Sngglr doesn't have? Let me know! <a href="/#/contact"> Contact Page </a> </p
