<h1> Matches </h1>

<table class="table">
  <tr>
    <th> Picture </th>
    <th> Name </th>
    <th> Match Date </th>
    <th> Match Type </th>
    <th> Date Last Activity </th>
    <th> Chats </th>
  </tr>
  <tr ng-repeat="match in matches" ng-click="gotoMatch(match._id)">
    <td> <img ng-src="{{match.pictures[0].url}}" style="width: 75px; height: 75px"> </td>
    <td> {{match.other.name}} </td>
    <td> {{match.matchType}}
    <td> {{match.ts  | fromNow}} </td>
    <td> {{match.other.lastActivity | fromNow}} </td>
    <td> {{match.chats.length || 0 }} </td>
  </tr>
</table>
