<h2> Step Three: Create Profile </h2>

<div class="row">
  <div class="col-md-4">

    <div ng-repeat="picture in pictures">
      <img style="width: 100%" ng-src="{{picture.url}}">
      <button class="btn btn-danger" ng-click="deletePicture(picture)"> Delete </button>
      <button class="btn btn-info" ng-click="makeFirst(picture)"> Make First </button>
    </div>

    <input class="form-control" type="text" ng-model="picture" placeholder="url">
    <button class="btn btn-primary" ng-click="addPicture()"> Add Picture </button>

  </div>
  <div class="col-md-8">
    <label> Bio </label>

    <textarea class="form-control" ng-blur="me.$update()" ng-model="me.bio"> </textarea>

    <label> Activity:
      <select class="form-control" ng-blur="me.$update()" ng-options="a for a in ['coffee', 'snuggle', 'sex']" ng-model="me.activity"> </select>
    </label>

    <label> Gender:
      <select class="form-control" ng-blur="me.$update()" ng-options="g for g in ['male', 'female']" ng-model="me.gender"> </select>
    </label>

    <label> Interested In:
      <select class="form-control" ng-blur="me.$update()" ng-options="i for i in ['male', 'female', 'both']" ng-model="me.looking"> </select>
    </label>

    <br /> <br />
    <div class="alert alert-danger" ng-show="!pictures.length">
      You need a picture!
    </div>

    <div ng-show="pictures.length">
      <div class="alert alert-success"> <strong> Great Work! </strong> All done! </div>
      <a class="btn btn-success btn-lg" ui-sref="play"> Get Snggling! </a>
    </div>
  </div>
</div>
