<h1> Play </h1>

<div ng-hide="other.name">
  <p> Either you've already seen everyone, or your profile isn't complete. </p>

  <p> Invite Someone? </p>
  <input type="text" ng-model="email">
  <button ng-click="invite"> Invite! </button>
</div>

<div ng-show="err">
  Error: {{err}}
</div>

<div ng-show="other.name">
  <h2> {{other.name}} </h2>
  <p> {{other.bio}} </p>
  <p> Gender: {{other.gender}} </p>
  <p> Wants to: {{other.activity}} </p>

  <p> Last seen: {{other.lastActivity}} </p>

  <div ng-repeat="picture in other.pictures">
    {{picture}}
    <img ng-src="{{picture.url}}" style="max-width: 300px max-height: 300px">
  </div>

  <button ng-click="like('yes', other._id)"> Yes </button>
  <button ng-click="like('maybe', other._id)"> Maybe </button>
  <button ng-click="like('no', other._id)"> No </button>
</div>
