<h1> DEM STATS </h1>

{{stats}}

<style>
.blue-circle {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	font-size: 20px;
	color: #fff;
	line-height: 100px;
	text-align: center;
	background: #428bca
 }

.red-circle {
   width: 100px;
   height: 100px;
   border-radius: 50px;
   font-size: 20px;
   color: #fff;
   line-height: 100px;
   text-align: center;
     background: #d9534f
  }


</style>

<div style="text-align: center">
  <h1> Total Users {{stats.count}} </h1>
</div>

<div class="row">
  <div class="col-md-6">
    <h3> MTU </h3>
    <canvas piechart options="options" data="mtuCountData" width="300" height="300"></canvas>
  </div>

  <div>
    <h3> FU </h3>
    <canvas piechart options="options" data="fuCountData" width="300" height="300"></canvas>
  </div>
</div>

<canvas linechart options="options" data="joinDateData" width="300" height="300"></canvas>

<script src="/bower_components/chartjs/Chart.js"> </script>
