
{{stats}}
<div style="text-align: center">
  <h1> Total Confirmed Users {{stats.count}} </h1>
</div>

<div class="row">
  <div class="col-md-6">
    <h3> MTU </h3>
    <div google-chart chart="mtuCountChartObject" style="width: 100%"></div>
  </div>
  <div class="col-md-6">
    <h3> FU </h3>
      <div google-chart chart="fuCountChartObject"></div>
  </div>
</div>

<div google-chart chart="joinDateChartObject" style="width: 100%"> </div>

<div google-chart chart="lastActivityChartObject" style="width: 100%"> </div>

<h3> Likes </h3>
<div google-chart chart="likeTypeChartObject" style="width: 100%"></div>

<h3> Matches </h3>
<div google-chart chart="matchTypeChartObject" style="width: 100%"></div>

<table class="table">
	<tr>
		<th> Type </th> <th> Likes </th> <th> Likes / Person </th> <th> Matches </th> <th> Matches / Person </th>
	</tr>

	<tr>
		<th> Yes </th> <td> {{stats.likes.yes}} </td> <td> {{stats.likes.yes / stats.count}} </td> <td> {{stats.matches.yes}} </td> <td> {{stats.matches.yes / stats.count}} </td>
	</tr>
	<tr>
		<th> Maybe </th> <td> {{stats.likes.maybe}} </td> <td> {{stats.likes.maybe / stats.count}} </td> <td> {{stats.matches.maybe}} </td> <td> {{stats.matches.maybe / stats.count}} </td>
	</tr>

	<tr>
		<th> No </th> <td> {{stats.likes.no}} </td> <td> {{stats.likes.no / stats.count}} </td> <td> - </td> <td> - </td>
	</tr>

	<tr>
		<th> Totals (Yes+Maybe) </th> <td> {{stats.likes.yes + stats.likes.maybe}} </td> <td> {{ (stats.likes.maybe + stats.likes.yes) / stats.count}} </td> <td> {{stats.matches.maybe + stats.matches.yes}} </td> <td> {{ (stats.matches.maybe + stats.matches.yes) / stats.count}} </td>
	</tr>
</table>

<div style="border: 1px solid">
<sigmajs graph=likeGraph> </div>
</div>
