<h1> DEM STATS </h1>

{{stats}}

<style>
.blue-circle {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	font-size: 20px;
	color: #fff;
	line-height: 100px;
	text-align: center;
	background: #428bca
 }

.red-circle {
   width: 100px;
   height: 100px;
   border-radius: 50px;
   font-size: 20px;
   color: #fff;
   line-height: 100px;
   text-align: center;
     background: #d9534f
  }


</style>


<div style="text-align: center">
  <h1> Total Confirmed Users {{stats.count}} </h1>
</div>

<div class="row">
  <div class="col-md-6">
    <h3> MTU </h3>
    <div google-chart chart="mtuCountChartObject" style="width: 100%"></div>
  </div>
  <div class="col-md-6">
    <h3> FU </h3>
      <div google-chart chart="fuCountChartObject"></div>
  </div>
</div>

<div google-chart chart="joinDateChartObject" style="width: 100%"> </div>


<script src="/bower_components/chartjs/Chart.js"> </script>
